body{
  width: 100%;
  height: 100%;
  background-color: gray;

}
#dadosPokemon{
  position: relative;
  width: 960px;
  margin: auto;
  background-color: #F0EDEE;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
}
ul{
  display: inline;
  list-style: none;
}
title{
  position: relative;
  text-align: center;
}
h1{
  color: #234FFF;
  background-color: #FFCF0F;
}
h2{
  font-size: 25px;
  margin-top: 0xp;
  color: #234FFF;
  background-color: #7293A0;
}
li{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
#img-poke{
  border: 5px solid black;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}


