*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  background-color: black;
}
.principal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;

}
 #circle{
   background-color: blue;
   width: 200px;
   height: 200px;
   border-radius: 200px;
   /* margin: 180px; */
    /* align-self: center; */
 }
 #circle > h1{
   text-align: center;
   margin-top: 50px;
   color: white;
   font-size: 100px;
 }
 #imgTriste{
   position: relative;
   width: 25%;
   height: 25%;
   margin-top: 50px;
   margin-left: 220px;
   display: none;
 }
 .tempoEncerrado{
   width: 600px !important;
   height: 600px !important;
   border-radius: 50px !important;
 }
 .imgInline{
   display: inline !important;
 }
