*{
  margin: 0px;
}
#button-form{
  background-color: black;
  color: yellow;
}
input[type=text], input[type=password]{
  display: block;
}
footer{
  position: fixed;
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  text-align: center;
}

