*{
  margin: 0;
}
.flag{
  width: 100%;
  height: 100%;
  position: absolute;
}
.black{
  background-color: black;
}
.yellow{
  background-color: #FDDA24;
}
.red{
  background-color: #EF3340;
}
.stripe{
  width: calc(100%/3);
  height: 100%;
  float: left;
}
