*{
  margin: 0;
}
.container { 
  display: flex; 
} 
.box{
  background-color: white;
	text-align: center;
  font-size: 1.5em;
  width: 960px;
  height: 253px;
}
.box > azul{
  width: 100px;
}
.azul{
  background-color: #1D3899;
}
.item1{
  width: 20%;
}
.item2{
  width: 10%;
}
.item3{
  width: 70%;
}
.item4{
  width: 20%;
  height: 120px;
}
.item5{
  width: 10%;
  height: 120px;
}
.item6{
  width: 70%;
  height: 120px;
}
.item7{
  width: 20%;
}
.item8{
  width: 10%;
}
.item9{
  width: 70%;

}
