*{
  margin: 0px;
}
.principal{
  display: flex;
  width: 100%;
  height: 660px;
  flex-direction: column;
}

.red{
  background-color: red;
}
.black{
  background-color: black;
}
.yellow{
  background-color: yellow;
}
.stripe{
  height: 100%;
}
