*{
  margin: 0px;
  padding: 0px;
}

.principal{
  display: flex;
  width: 100%;
  height: 650px;;
  flex-direction: column;
}
.cruz{
  display: flex;
  background-color: white;
  font-size: 1.5em;
  width: 100%;
}
.azul{
  background-color: #1D3899;
}
.item1{
  width: 50%;
}
.item2{
  width: 25%;
}
.item3{
  width: 50%;
}
.item4{
  width: 50%;
}
.item5{
  width: 25%;
}
.item6{
  width: 50%;
}
.item7{
  width: 50%;
}
.item8{
  width: 25%;
}
.item9{
  width: 50%;

}
.azul{
  background-color: #3834FF;
  height: 350px;
}
.branco{
  background-color: white;
}
.linha-cima{
  width: 2500px;
  height: 155px;
}
.linha-azul{
  background-color: #3834FF;
  height: calc(100%/4);
  width: 100%;
}
.linha-branca{
  background-color: white;
  height: calc(100%/4);
}
