*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;

}
.principal{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;

}
 .circle{
   background-color: red;
   width: 250px;
   height: 250px;
   border-radius: 200px;
   /* margin: 180px; */
    /* align-self: center; */

 }
