*{
  margin: 0px;
  padding: 0px;
}
.principal{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.red{
  background-color: red;
  height: 135px;
}
.white{
  background-color: white;
  height: 380px;
}
img{
  width: 340px;
  height: 360px;
  margin-left: 35%;
  margin-right: 50%;
}
