<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Thumb</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <PokemonLinha :pokemon="pokemon" v-for="pokemon in pokemons" :key="pokemon.id" />
    </tbody>
  </table>
</template>
<script>
import PokemonLinha from './PokemonLinha.vue'
export default {
  name: 'TabelaPokemon',
  components: {
    PokemonLinha
  },
  props: {
    pokemons: Array
  }
}
</script>











