

*{
  /*background: url(file:///C:/Users/lucas.ribeiro/Documents/Reposit%C3%B3rios/lucas-ribeiro/modulo02/exercicio1/imgs/kangaroo.png)*/ 
}
body{
  width: 100%;  
}

#kangaroo-esquerda {
  width: 14%;
  float: left;
}

#kangaroo-direita {
  width: 14%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  float: right;
}

#kangaroo {
  width: 14%;
  float: left;
}

p {
  font-family: "Rubik";
}
.menu{
  float: right;
  margin-top: -15px;
  font-family: 'Courier New', Courier, monospace;
}
header{
  background-color: #E6E8E6;
  height: 110px;
  width: 960px;
}
li{
	display: inline-block;
	padding-right: 20px;
}
a{
  color: black;
  font-size: 18px;
	text-decoration: none;
	text-align: center;
}
a:hover{
  color:#960707;
}
.content{
	width: 960px;
  margin: auto;
  background-color: #ddd9ce;
  border: 2px solid black;
  box-shadow: 5px 10px #888888;
}
.rodape{
	text-align: center;
}
h1{
  font-size: 55px;
  margin-right: 80px;
  font-family: 'Amatic SC', cursive;
}
h2{
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  font-style: bolder;
}
h3{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  text-decoration: underline;
}
.basico > h2{
  margin-left: 350px;
}
.basico > p{
  margin-left: 40px;
  margin-right: 40px;
  
}
.food, .pubs, .fun{
  text-align: center;
}

.food > a, pubs > a, fun > a{
  font-size: 15px;
}
.drinks{
  margin-top: 0px;
}

.mais-informacoes{
  font-family: 'Courier New', Courier, monospace;
}

.mais-informacoes:hover{
  color:#960707;
}

footer{
  text-align: center;
  font-family: "Rubik";
}
