<template>
     <div class="form-group">
    <label v-bind:for="nome">Email: </label>
    <input type="text" v-validate="'required|email-dbc'" :name="nome" v-model="valor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario@email.com">
    <div v-show="errors.has( this.nome )" class="alert alert-warning" role="alert">
      <span>{{ errors.first( this.nome ) }}</span>
    </div>
    </div>
</template>
<script>
export default {
    name: 'EmailInput',
    props: {
        nome: String
    },
    data: () =>{
        return {
            valor: ''
        }
    }
}
</script>



