<template>
    <tr>
    <td><h4>{{pokemon.id}}</h4></td>
    <td><h4>{{pokemon.nome}}</h4></td>
    <td><h4>{{pokemon.altura}}cm</h4></td>
    <td><h4>{{pokemon.peso}}kg</h4></td>
    <td><img v-bind:src="pokemon.thumbUrl"></td>
    </tr>
</template>
<script>
export default {
    name: 'PokemonLinha',
    props:{
       pokemon: Object
    }
}
</script>
<style scoped>
h4{
  margin-top: 45px;
  font-size: 20px;
}
img{
  border: 5px solid gray;
  background-color: white;
  border-radius: 20px;
  width: 96px;
  height: 96px;
}
</style>


