<template>
       <table v-show="pokemons" class="table table-dark w-85 mx-auto">
   			<thead v-show="pokemons">
   				<tr>
   					<th>ID</th>
   					<th>Nome</th>
   					<th>Peso</th>
                    <th>Altura</th>
                    <th>Imagem</th>
   				</tr>
   			</thead>
         <tbody>
                <PokemonLinha v-for="pokemon in pokemons" v-bind:pokemon="pokemon"/>    
         </tbody>
    </table>
</template>
<script>
import PokemonLinha from '../shared/PokemonLinha.vue'
export default {
    name: 'TabelaPokemon',
    components: {
        PokemonLinha
    },
    props:{
        pokemons: Array
    }
    
}
</script>
<style>
.w-85{
    width: 85%;
    height: 85%;
}
</style>

