<html>
  <head>
<<<<<<< HEAD
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="estilo.css">
  </head>
  <body>
    <section id="dadosPokemon">
      <img src="pokedex.png" alt="" id="title">
      <br>
      <input type="text" id="numeroPokemon" v-on:blur="buscar()" v-model="idParaBuscar" placeholder="Numero de 1 a 802" pattern="[0-9]+$"> 
      <button id="btnSorte" v-on:click="buscarComSorte()">Estou com sorte</button> 
      <h1>{{ pokemon.nome }}</h1>
      <img id="img-poke" v-show="pokemon.thumbUrl != null" v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome" width="130px" height="140px">
      <h3 id="idPokemon" v-show="pokemon.id!=null">ID: {{pokemon.id}}</h1>
      <h3 id="alturaPokemon" v-show="pokemon.altura!=null">Altura: {{pokemon.altura}}cm</h1>
      <h3 id="pesoPokemon" v-show="pokemon.peso!=null">Peso: {{pokemon.peso}}kg</h1>
      <ul id="tiposPokemon">
        <h1 v-show="pokemon.tipos !=null">TIPOS</h1>
        <li id="tipo" v-for="tipo in pokemon.tipos">{{ tipo }}</li>
      </ul>
      <ul id="estatisticasPokemon">
          <h1 v-show="pokemon.tipos !=null">ESTATISTICAS</h1>
          <ul v-for="stat in pokemon.estatisticas">
            <h2>{{ stat.stat.name }}</h2>
            <li>Effort: {{ stat.effort }} </li>
            <li>Base Stat: {{ stat.base_stat }} </li>
          </ul>
      </ul>
    </section>
    <script src="src/pokemon.js"></script>
    <script src="src/pokeApi.js"></script>
    <script src="src/app.js"></script>
=======
    <title>Hello Date</title>
  </head>
  <body>


    <div id="dadosJedi"></div>
    <script src="jedi.js"></script>
>>>>>>> master
  </body>
</html>
