<template>
  <div id="app">
    <img alt="PokedexLogo" src="./assets/pokedex.png">
    <router-view></router-view>
  </div>
</template>

<script>
import Login from './components/screens/Login.vue'

export default {
  name: 'app',
  components: {
    Login
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
