<template>
  <section>
    <h1>{{ usuario }}, seja bem vindx!</h1>
    <select v-model="opcaoSelecionada" v-on:change="onChange(1)">
      <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao" >
        {{ opcao.texto }}
      </option>
    </select>
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>
    <TabelaPokemon v-bind:pokemons="pokemons"/>
    <div id="buttons" v-show="pokemons">
    <Button texto="Anterior" v-on:click.native="paginaAnterior" v-show="botaoAnteriorHabilitado"/>
    <Button texto="Proximo" v-on:click.native="proximaPagina" v-show="botaoProximoHabilitado"/>
    </div>
  </section>
</template>

<script>
import Button from '../shared/Button.vue'
import PokeApi from '../../api/PokeApi.js'
import TabelaPokemon from '../shared/TabelaPokemon.vue'
export default {
  name: 'Home',
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
        { id: 4, texto: 'Venenoso' },
        { id: 5, texto: 'Terra' },
        { id: 6, texto: 'Pedra' },
        { id: 7, texto: 'Inseto' },
        { id: 8, texto: 'Fantasma' },
        { id: 9, texto: 'Ferro' },
        { id: 10, texto: 'Fogo' },
        { id: 11, texto: 'Água' },
        { id: 12, texto: 'Planta' },
        { id: 13, texto: 'Elétrico' },
        { id: 14, texto: 'Psíquico' },
        { id: 15, texto: 'Gelo' },
        { id: 16, texto: 'Dragão' },
        { id: 17, texto: 'Trevas' },
        { id: 18, texto: 'Fada' },
      ],
      numeroPagina: 1,
      opcaoSelecionada: {},
      pokemons: null,
      botaoProximoHabilitado: true,
      botaoAnteriorHabilitado: false,
    }
  },
  methods: {
    async onChange(opcao) { 
      const pagina = opcao ? opcao : this.numeroPagina
      this.numeroPagina = pagina;
      const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
      this.pokemons = await pokeApi.listarPorTipo( this.opcaoSelecionada.id, 10, pagina )
      this.botaoProximoHabilitado = this.pokemons.length < 10 ? false : true
      this.botaoAnteriorHabilitado = (this.numeroPagina != 1)? true: false
    },
    proximaPagina(){
    this.numeroPagina+=1
    this.onChange()
    },
    paginaAnterior(){
    this.numeroPagina -=1
    this.onChange()
    },
  },
  created() {
    this.usuario = this.$route.params.usuario
  },
  
  components:{
    TabelaPokemon, Button
  }
}
</script>
<style scoped>

button{
  margin-right: 50px;
}
</style>


