<template>
    <form v-on:submit.prevent="onSubmit">
    <EmailInput nome="usuario" ref="usuario"/>
    <PasswordInput nome="senha" ref="senha"/>
    <Button v-bind:texto="textoBotao" type="submit"/>
    </form>
</template>

<script>
import Button from '../shared/Button.vue'
import EmailInput from '../shared/EmailInput.vue'
import PasswordInput from '../shared/PasswordInput.vue'
export default {
    name: 'Login',
    components: {
    Button, EmailInput, PasswordInput
  },
    data: () => {
        return{
            textoBotao: 'Entrar'
        }
    },
    methods: {
        onSubmit(){
            //acesso ao valor do campo usuário
            console.log(`ref: ${this.$refs.usuario.valor}`);
            console.log(`ref: ${this.$refs.senha.valor}`);
            const usuario = this.$refs.usuario.valor
            const senha = this.$refs.senha.valor

            const podeLogar = usuario === 'admin@dbccompany.com.br' && senha ==='admin'
            if(podeLogar){
                this.textoBotao = 'Aguarde...'
                setTimeout(()=>{
                  this.$router.push({ name: 'home', params:{usuario}})
                }, 1500)
            }
            }
  
        }
    }

</script>
<style>
body{
  background-color: rgb(16, 15, 49);
}
h1, h3, label{
  color: white;
}
</style>
